#boardContainer {
    width: 490px;
    /* width: 490px; */
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#board {
    border: 5px solid #999999;
    display: flex;
    z-index: 0;
    margin-top: 45px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 45px;
}

#board .checkersSquare {
    height: 60px;
    width: 60px;
    float: left;
}

#board .selected {
    background-color: #074F7F;
    -webkit-box-shadow: 0 0 10px 7px #5b04d6;
    box-shadow: 0 0 10px 7px #5b04d6;
}

.board_row:nth-child(odd) .checkersSquare:nth-child(odd),
.board_row:nth-child(even) .checkersSquare:nth-child(even) {
  background: -moz-linear-gradient(center top, #eeeeee, #ffffff) repeat scroll 0 0 transparent;
  background-color: white;
}

.board_row:nth-child(even) .checkersSquare:nth-child(odd),
.board_row:nth-child(odd) .checkersSquare:nth-child(even) {
  background: -moz-linear-gradient(center top, #222222, #333333) repeat scroll 0 0 transparent;
  background-color: black;
}

.redPiece,
.whitePiece {
  background-size: cover;
}

.redPiece {
  background-image: url(../img/red-piece.png);
}

.whitePiece {
  background-image: url(../img/white-piece.png);
}

.queen {
  border: 5px solid gold;
  box-sizing: border-box;
  border-radius: 100%;
}